.max-w-1340 {
  max-width: 1340px;
}

.m-auto {
  margin: auto;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.h-900 {
  height: 900px;
}

.bg-white {
  background-color: #ffffff;
}

.text-center {
  text-align: center;
}

.text-6xl {
  font-size: 3.75rem;
}

.font-bold {
  font-weight: bold;
}

/* .text-[rgb(0,0,0,0.8)] {
    color: rgba(0, 0, 0, 0.8);
  } */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.mt-4 {
  margin-top: 1rem;
}

.text-xl {
  font-size: 1.25rem;
}

.font-medium {
  font-weight: 500;
}
